<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Inventario Sweet & Coffee
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button
      expand="block"
      color="primary"
      routerLink="/adicionar-pt"
    >Adicionar PT</ion-button>
    <br>  
    <ion-button
      expand="block"
      color="primary"
      routerLink="/adicionar-pt"
    >Generar Inventario</ion-button>
    <br>
  </ion-toolbar>
</ion-footer>
